body {
    background-color: hsl(216, 12%, 8%);
    font-weight: 700;
}


#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid hsl(213, 19%, 18%);
    border-radius: 30px;
    width: 21rem;
    height: auto;
    display: flex;
    padding: 2rem 1rem;
    background-color: hsl(213, 19%, 18%);
    box-shadow: 1px 1px 2px hsl(216, 12%, 8%);
}

#sub-main {
    display: block;
}

#star {
    position: relative;
    background-color: #393E46;
    margin: auto 1em;
    padding: 10px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

#star svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textContent {
    position: relative;
    margin: auto 1em;
    color: white;
    font-family: 'Overpass', sans-serif;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 16px;
}

#ratings {
    position: relative;
    display: flex;
}

.rate {
    font-family: 'Overpass', sans-serif;
    position: relative;
    margin: 1em auto;
    margin-bottom: 1.5em;
    text-align: center;
    padding: 0.7em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: hsl(216, 12%, 8%);
    color: #393E46;
    filter: brightness(3);
    box-shadow: 1px 1px 1px hsl(216, 12%, 8%);
}
  

#butt {
    position: relative;
    margin: auto 1em;
}

button {
    width: 100%;
    padding: 10px;
    border: 1px solid hsl(25, 97%, 53%);
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    color: white;
    box-shadow: 1px 1px 20px hsl(213, 19%, 18%);
}

/* Thank You Page */

#ty-main {
    display: none;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

#ty-img {
    margin: 0.5em;
}

#response {
    margin: 1em 3em;
    padding: 0.7rem;
    background-color: #393E46;
    color: hsl(25, 97%, 53%);
    filter: brightness(1);
    border-radius: 20px;
    box-shadow: 1px 1px 20px hsl(213, 19%, 18%);
}

#ty {
    color: white;
}

#msg {
    margin: 15px 10px;
    color: hsl(217, 12%, 63%);
}

@media screen and (max-width: 500px){
    #main {
        width: 20rem;
        height: auto;
    }
}